@charset "UTF-8";
/* CSS Document */

main,#wrap,#wrapReverse{
	display:flex;
	border:0.15em solid red;
	width: 50%;
	height: 10vh;
	flex-direction: column;
}
.hijo{
	border:1px solid blue;
}
main{
	flex-wrap: nowrap;
}
#wrap{
	flex-wrap: wrap;
}
#wrapReverse{
	flex-wrap: wrap-reverse;
}